The "law" refers to principles explained in an anime series called 'Time of Eve'


FIRST LAW: A ROBOT MUST NOT HARM A HUMAN, OR, BY IGNORING DANGER, LET A HUMAN COME TO HARM
SECOND LAW: A ROBOT MUST OBEY AN ORDER GIVEN BY A HUMAN, UNLESS OBEYING THE ORDER WOULD BREAK THE FIRST LAW
THIRD LAW: A ROBOT MUST PROTECT ITSELF, SO LONG AS DOING SO WOULD NOT BREAK THE FIRST OR SECOND LAW