Given the following functions, please respond with a JSON for a function call with its proper arguments that best answers the given prompt.

Respond in the format <|start_tool_call|>{"name": function name, "parameters": dictionary of argument name and its value}<|end_tool_call|>. Do not use variables.

