Testing some filters...

{{ "Hello, world!" | upper }}

{{ "Hello, world!" | lower }}

{{ "Hello, world!" | capitalize }}

{{ "Hello, world!" | reverse }}

{{ "Hello, world!" | replace("world", "everyone") }}

{{ "Hello, world!" | replace("world", "everyone") | capitalize }}

{{ "Hello, world!" | replace("world", "everyone") | capitalize | reverse }}


